* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

img {
    display: inline-block;
    max-width: 100%;
}

html {
    font-size: 62.5%;
}